div{
  width: 200px;
  height: 200px;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.yellow-1{
  background-color: yellow;
}
.blue-1{
  background-color: blue;
}
.red-1{
  background-color: red;
}

.l{
  float: left;
}

br{
  line-height: 40px;
}
