div{
  width: 200px;
  height: 200px;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.l{
  float: left;
}

br{
  line-height: 40px;
}

.r{
  float: right;
}
